.top-modal-confirmation {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 4;
    overflow:hidden;
    
    background: #141414;
    -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.75);
    /* transition: 0.5s; */
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.top-modal-confirmation > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-gap: 1em;
}
.top-modal-confirmation > div>div:nth-child(1){
    grid-column: 1/3;
    font-size: 1.2em;
}

.top-modal-confirmation > div>div>button{
    padding: 0.7em;
    color: white;
    font-weight: bold;
}
.top-modal-confirmation > div>div:nth-child(2)>button{
    background: rgb(30, 101, 194);
}
.top-modal-confirmation > div>div:nth-child(2)>button:active{background: rgb(13, 43, 83);}
.top-modal-confirmation > div>div:nth-child(3)>button{
    background: rgb(190, 50, 50)
}
.top-modal-confirmation > div>div:nth-child(3)>button:active{background: rgb(85, 22, 22)}


.overlayTop-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.0);
    -webkit-backdrop-filter:blur(0px);
    backdrop-filter: blur(0px);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
    transition: 0.5s;
}

/*Telefono*/
@media (max-width: 576px) {
    .top-modal-confirmation > div {
        margin: 0;
    }
    
}

/*Tablet*/
@media (min-width: 576px) {
    
    
}

/*Desktop*/
@media (min-width: 768px) {
    .top-modal-confirmation > div {
        width: 450px;
        margin: auto;
    }
    
    
    
}
