.loading-block-contactDetails {
    background: linear-gradient(269deg, #1b1b1b, #2c2c2c);
    background-size: 400% 400%;
    height: 277px;
    margin-top: 3em;
    border-radius: 3px;
    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    -o-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
@keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}