
.project-info{
    text-align: center;
    font-size: 0.75em;
}

.project-info > div:nth-child(1){
    display: grid;
    grid-template-columns: auto 1fr;
    
}



.projectSection > div{
    padding: 0.3em;
}

.projectSection > div:nth-child(1){
    /* background: #2b2b2b; */
    
    /* border-radius: 3px; */
    background: #333333;
    
    /* border-bottom: 1px solid #bebebe;  */
    font-weight: bold;
}

/* vehicle */


.project-vehicle{
    background: #636363;
    margin: 0.5em;
    text-align: left;
    border-radius: 3px;
}

.project-vehicle>div:nth-child(1){
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: #414141;
    border-radius: 3px;
}

.project-vehicle>div:nth-child(1) > div {
    color: rgb(219, 204, 64);
    font-weight: bold;
    margin-left: 0.2em;
}

.truckImage{
    width: 30px;
}


/* products */

.project-products{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0.3em;
    
}

.project-products> div:nth-child(2){margin-left: 0.3em;}
.project-products> div:nth-child(1){
    background: white;
    color: black;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.2em;
    font-weight: bold;
    border-radius: 3px;
    
}

.project-products> div:nth-child(1) > div:nth-child(2){
    color: rgb(238, 160, 15);
     margin-left: 0.5em
}


/* direccion */



.project-direction{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.3em;
    align-items: center;
    padding: 10em;
    
}

.project-direction > div >button{
    padding: 0.3em;
    background: rgb(15, 153, 218);
}
.project-direction > div >button:active{background: rgb(9, 81, 114);}

/* labor */

.project-labor{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.project-labor > img {
    width: 50px;
    border-radius: 100%;
}


/* block */

.project-block{
    font-size: 1em;
}


/* images */



.fa-camera{
    padding: 0.3em;
    cursor: pointer;
}

.fa-camera:active{color: #bebebe;}

/* input[type="file"] {
    display: none;
} */


.project-images-modal{
    margin: 1em;
}

/* /*modal* */
#project-images-modal-textarea{
    background: #363636;
    resize: none;
    color: white;
    padding: 0.5em;
    font-family: 'Noto Sans JP', sans-serif;
}


/* /////////////////// */
.project-image > img{
    width: 100%
};







