
/* nav */
.contacts-nav{
    position: fixed;
    width: 400px;
    transform: translate(-50%, -50%);
    top: 90px;
    left: 50%;
    display: grid;
    border-radius: 3px;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap: 0.3em;
    padding: 0.2em;
    background: rgb(15, 15, 15);
    align-items: center;
    justify-items: center;
}

.contacts-nav > input, .contacts-nav > select, .contacts-nav > div{
    font-size: 0.75em;
}

/* loading block */

.contacts-loadingblock{
    margin-top: 4em;
}