.home-container > div:last-child{
    margin-bottom: 12em;
}

/* containder of home */
.container-block{
    background: rgb(46, 46, 46);
    padding: 0.5em;
    border-radius: 3px;
    margin: 0.5em;
    margin-top: 2em;
    -webkit-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
}
.container-block> div:nth-child(1){
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 0.5em;
}

.container-block-title{
    font-weight: bold;
    font-size: 1.5em;
}
.container-block-extra{
    color: #bebebe
}