.contactdetails-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin-top: 1em;
}

#contactdetails-info-id{
    /* box-shadow:inset 0px 0px 0px 0px rgb(49, 185, 31); */
    transition: 0.4s;
}

.contactdetails-info>div>input{
    padding: 0.8em;
    font-size: 0.9em;
}

.contactdetails-info>div:nth-child(4){
    grid-column: 1/4;
}
.contactdetails-info>div:nth-child(5){
    grid-column: 1/4;
}


#contactdetails-info-save{
    padding: 0.5em;
    background: rgb(35, 153, 54);
    color: white;
    font-weight: bold;
    -webkit-transform: scale(1); 
      -ms-transform: scale(1); 
          transform: scale(0);
          transition: 0.5s;
}
#contactdetails-info-save:active{
    background: rgb(22, 90, 33);
    transition: 0;
}


/* autocomplete */

.location-search-input{
    border: 0;
    width: 100%;
    padding: 0.4em;
    border-radius: 3px;
    word-break: break-all;
    padding: 0.8em;
    z-index: 4;
    
}
.location-search-input:focus{outline: none;}
.autocomplete-dropdown-container-info{
    position: absolute;
    width: 18em;
    z-index: 4;
}
.suggestion-item{
    padding: 0.3em;
    border-bottom: 1px solid #313131;
    z-index: 4;
}