

#contactdetails-sms-enviar>button{
    background: rgb(35, 153, 54);
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

#contactdetails-sms-enviar>button:active{background: rgb(21, 88, 32);}


.contactdetails-sms-container{
    margin-top: 1em;
    background: rgb(20, 20, 20);
    height: 300px;
    overflow-x: hidden; 
    overflow-y: auto; 
    transform:rotate(180deg);
}

.contactdetails-sms-container>div{
    background: #838383;
    margin: 0.8em;
    font-size: 0.8em;
    float: left;
    clear: both;
    text-align: left;
    max-width: 90%;
    width: fit-content;
    word-wrap: break-word;
    padding: 0.3em;
    border-radius: 3px;
    vertical-align: middle; 
    transform:rotate(180deg);

    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

.contactdetails-sms-container>div>div:nth-child(1){
    grid-column: 1/5;
    font-weight: bold;
}
.contactdetails-sms-container>div>div:nth-child(2){
    grid-column: 1/5;
}
.contactdetails-sms-container>div>div:nth-child(3){
    color: #bebebe;
}
.contactdetails-sms-container>div>div:nth-child(4){
    grid-column: 3/4;
    color: #bebebe;
    margin-left: 0.5em;
}
.contactdetails-sms-container>div>div:nth-child(5){
    color: #bebebe;
    margin-left: 0.3em;
}


/* modal sms */

.contactdetails-sms-modal{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.5em;
    margin: 1em;
}

.contactdetails-sms-modal>div:nth-child(1){
    grid-column: 1/3;
}
.contactdetails-sms-modal>div:nth-child(3){
    white-space: nowrap;
}

.contactdetails-sms-modal>div:nth-child(6){
    grid-column: 1/3;
}
.contactdetails-sms-modal>div:nth-child(7){
    grid-column: 1/3;
}
.contactdetails-sms-modal>div:nth-child(7)>textarea{
    background: rgb(24, 24, 24);
    color: white;
}


.contactdetails-sms-modal>div:nth-child(8){
    grid-column: 2/3;
}
.contactdetails-sms-modal>div:nth-child(8)>button{
    color: white;
    background: rgb(31, 158, 31);
    padding: 0.3em;
    font-weight: bold;
}
.contactdetails-sms-modal>div:nth-child(8)>button:active{background: rgb(17, 85, 17);}



/* no items */

#contactdetails-sms-noitems{
    text-align: center;
    margin-top: 0.5em;
}