.project-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; */

    margin: 0.3em;
    /* margin-top: 2em; */
    column-count: 2;
    column-gap: 2em;

}

.projects-project {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  margin-bottom: 6em;
  margin-top: 1em;
  
  background: rgb(77, 77, 77);
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.75);
}


/* search */

.project-nav{
  background: rgb(27, 27, 27);
  position: fixed;
  width: 300px;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 15px;
  padding: 0.5em;
  border-radius: 3px;
  -webkit-box-shadow: -4px 23px 12px -13px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 23px 12px -13px rgba(0,0,0,0.75);
box-shadow: -4px 23px 12px -13px rgba(0,0,0,0.75);
 
}


/* loadingblock */

/* .projects-loadingblock{
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

  
