.contactdetails-nav{
    position: sticky;
    top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    grid-gap: 0.5em;
    margin: 0.5em;
    background: rgb(24, 24, 24);
    padding: 0.3em;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    z-index: 3
}

.contactdetails-nav>div:nth-child(1){
    font-weight: bold;
}
.contactdetails-nav>div:nth-child(2){
    justify-self: center;
    background: rgb(15, 142, 201);
    padding: 0.3em;
    white-space: nowrap;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.8em;
}
.contactdetails-nav>div:nth-child(2):active{
    background: rgb(9, 73, 102);
}
.contactdetails-nav>div:nth-child(2)>i{
    margin-left: 0.3em;
}
.contactdetails-nav>div:nth-child(3){
    justify-self: right;
    font-size: 0.8em;
    color: #bebebe;
    white-space: nowrap;
}

/* component blocks */


.contactdetails-block{
    background: rgb(46, 46, 46);
    margin-top: 1.2em;
    padding: 1em;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
}
.contactdetails-block>form>div:nth-child(1){
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.contactdetails-block>form>div:nth-child(1)>div:nth-child(1){
    font-size: 1.5em;
    font-weight: bold;
}



