

.contacts {
    margin-top: 4em;
}

.contacts-contact{
    display: grid;
    grid-template-columns: 1fr auto;
}

.contact-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em;
    transition: 0.5s;
}



.contacts-contact>div:nth-child(2){
    overflow: hidden;
    width: 0em;
    background: rgb(41, 152, 180);
    white-space: nowrap;
    display: grid;
    grid-template-columns: 80px;
    align-items: center;
    justify-items: center;
    transition: 0.5s;
}

.contacts-contact>div:nth-child(2):active{
    background: rgb(20, 73, 87);
    transition: 0s;
}



.contact-info>div:nth-child(1){
    font-size: 1.5em;
    font-weight: bold;
}
.contact-info>div:nth-child(2){
    color: #bebebe;
    justify-self: right;
    white-space: nowrap;
}
.contact-info>div:nth-child(4){
    justify-self: right;
    white-space: nowrap;
}










