.contactdetails-img{
    width: 100%;
    border-radius: 3px;
}




.contactdetails-modal-editor{
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0.5em;
    grid-gap: 0.5em;
}

.contactdetails-modal-editor>textarea{
    background: rgb(46, 46, 46);
    color: white;
    padding:0.8em;
}
.contactdetails-modal-editor>button{
    background: rgb(31, 151, 31);
    color: white;
    font-weight: bold;
}
.contactdetails-modal-editor>button:active{
    background: rgb(14, 70, 14);
}

.contactdetails-images{
    margin-top:0.5em
}
