.contactdetails-img{
    width: 100%;
    border-radius: 3px;
}

/* input[type="file"] {
    display: none;
} */


.contactdetails-modal-editor{
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0.5em;
    grid-gap: 0.5em;
}

.contactdetails-modal-editor>textarea{
    background: rgb(24, 24, 24);
    color: white;
}

.contactdetails-images{
    margin-top:0.5em
}
